.container{width: 100%;
background-color: lavender;
height: 620px;
position: fixed;}
.box1{width: 10%;
display: block;
margin: 0 auto;
margin-top:  200px;}
a:link, a:visited {
    background-color: violet;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;}
a:link, a:visited {
    background-color: violet;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;}
a:link, a:visited {
    background-color: violet;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;}
